@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    font-size: 62.5%;


}

.ATMForms {
    max-width: 120rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to bottom right, rgb(117, 13, 13),rgb(36, 6, 6));
    padding: 3rem 4rem;

}

.formCon{
    width: 42.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9aaaa;
    padding: 4.5rem 5rem;
    
}

.ATMBox {
    width: 40rem;
    padding: 4.5rem 5rem;
    background-color: #f08c8c;
    justify-content: center;
    display: flex;
    align-items: center;

    
}

.Register label {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    border: none;
    padding: 1rem 1rem;
}

.Register input, .Register select {
  margin: 1rem;
  padding: 5px;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.flexBox {
    text-align: center;
    justify-content: center;
   
    

}

.hidden {
    display: none;
    opacity: 0;
}
  


.atmCardBox {
    background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.461),rgba(113, 19, 19, 0.888));
    padding: 3rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* position: relative; */
    width: 35.5rem;
    color: #333;
    font-size: 1.4rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.tmLogo {
  display: flex;
  justify-content: space-between;   
}

.tmLogo > img {
    height: 2rem;
    width: 3rem;
}

.atm-proxy {
    width: 42.5rem;
    text-align: center;
    margin-left: 25rem;
    padding: 5rem 10rem;
    font-size: 1.4rem;
    height: 25rem;
    border: 2px dashed #bbb;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.list {
     list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    
}

.listItemS {
     background-color: #cf711f;
    color: #fff;
     height: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
}

.listItem {
    color: #fff;
}

.cardDigit {
     font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin-top: 2.8;
    color: #333; 
    /* text-align: center;
    letter-spacing: 0.4;
    position: absolute;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
}

.account-type {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}


.expiry {
    /* text-align: center;
    position: absolute;
    justify-content: center;
    font-size: 1.2rem;
    top: 62%;
    left: 50%;
    transform: translate(-62%, -62%);
    -webkit-transform: translate(-62%, -62%);
    -moz-transform: translate(-62%, -62%);
    -ms-transform: translate(-62%, -62%);
    -o-transform: translate(-62%, -62%); */
    text-align: center;
}

.expiry > span {
    color: #333;
}

.holderLogo {
 display: flex;
 justify-content: space-between;
}

.holderLogo > img {
 height: 2rem;
 width: 3rem;
}
