@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    font-size: 62.5%;
}



body {
    background-color: #eb974ebf;
    height: 100vh;
    font-weight: 400;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}

.main {
    position: relative;
    width: 100rem;
    height: 60rem;
    overflow: hidden;
    display: flex;
}


.ATMForm {
    height: 90vh;
    display: grid;
    margin: 5rem;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to right bottom, rgba(235,151,78,0.75),rgba(230,116,34,0.75));
    box-shadow: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Register label {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    border: none;
    padding: 1rem 1rem;
}

.Register input, .Register select {
  width: 80%;
  margin: 1rem;
  padding: 2px;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.flexBox {
    text-align: center;
    justify-content: center;
   
    

}
.btnFull {
    font-size: 1.5rem;
    letter-spacing: 0.5;
    border: 2 solid gray;
    padding: 0.5rem 1.3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  

.ATMBox {
 padding: 1.5rem ;
 color: #fff;
 background-color: #cf711f;
 opacity: 1;
 height: 90vh;
 width: 100%;
 align-items: center;
 justify-content: center;
 transition: all 0.75;
 -webkit-transition: all 0.75;
 -moz-transition: all 0.75;
 -ms-transition: all 0.75;
 -o-transition: all 0.75;
}


.atmCardBox {
    width: 100%;
    height: 0 auto;
    background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.461),rgba(113, 19, 19, 0.888));
    border: 2px solid wheat;
    padding: 0.5rem 0;
    display: grid;
    position: relative;
    margin: 2rem 0;
    color: #333;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hidden {
    display: none;
}

.tmLogo, .holderLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: relative;
    
    
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    
}

.listItemS {
    background-color: #cf711f;
    color: #fff;
    height: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.listItem {
    color: #fff;
}

.cardDigit {
    text-align: center;
    letter-spacing: 1;
    position: absolute;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.atmType {
    text-align: left;
}

.images {
    width: 2.2rem; 
    height: 2.2rem;

}

.expDate {
    text-align: center;
    position: absolute;
    justify-content: center;
    display: block;
    width: 5%;
    font-size: 0.8rem;
    top: 62%;
    right: 62%;
    transform: translate(-62%, -62%);
    -webkit-transform: translate(-62%, -62%);
    -moz-transform: translate(-62%, -62%);
    -ms-transform: translate(-62%, -62%);
    -o-transform: translate(-62%, -62%);
}

.holderName {
    text-align: left;
    margin-top: 10rem;
}
.materlogo {
    width: 5rem;
    height: 3rem;
    justify-content: baseline;
    margin-top: 5rem;

}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}